input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#contact_form {
    width: 40vw;
    /* border-radius: 5px; */
    /* background-color: #f2f2f25e; */
    padding: 0px 20px 20px 20px;
    /* color: black; */
    margin: 0px 10px 10px 10px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width:768px){
    #contact_form{
        width: 80vw;
        margin-right: 10px;
    }
    .col-25 {
        width: 30%;
    }
    .col-75{
        width:60%;
    }

}