/* To get rid of defaults */
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

/* For older version of browsers */
section, aside, header, footer, article, nav, main, figure{
    display: block;
}
.contents{
    padding: 10px 20px 10px 0px;
}
hr{
    margin: 5px;
}
/* Styling top header */
#top_header{
    width: 100vw;
    overflow: hidden;
    background-color: rgb(8, 37, 92);
    color: white;
    position:fixed;
}
#top_header h1{
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    font-family: 'Balthazar', serif;
}
#top_header ul{
    float: right;
}
#top_header ul li{
    float: left;
    padding: 5px 20px;
}

/* Adding padding to whole article */
article{
    padding: 15px 10px;
}

/* Styling hero content */
#hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
#hero h1{
    font-family: 'Balthazar', serif;
    font-size: 8vw;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

/*Column Layout Formation */
#left_column, #right_column{
    float: left;
    width: 30%;
    height: 100vh;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
#center_column{
    float: left;
    width: 40%;
    min-width: 300px;
}


#bottom_footer{
    clear: both;
    width: 100%;
    overflow: hidden;
    color: white;
    background-color: rgb(9, 9, 48);
}

/* Left column format */
#left_column article h1{
    color: rgb(163, 0, 0);
    font-size: 3em;
    margin-bottom: 1em;
}
#left_column article h2{
    color: rgb(58, 20, 20);
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

/* Right column format */
#right_column article h1{
    color: rgb(163, 0, 0);
    font-size: 3em;
    margin-bottom: 1em;
}
#right_column article h2{
    color: rgb(58, 20, 20);
    font-size: 1.5em;
    margin-bottom: 0.2em;
}


/* Footer Layout Format */
#footer_sec{
    padding: 15px;
}
#company{
    float: left;
    width: 30%;
}
#company ul{
    padding-top: 15px;
}
#donate{
    float: left;
    width: 40%;
    min-width: 250;
}
#donate p{
    padding: 15px 0px 20px 15px;
    text-align: justify;
}
#social_links{
    float: left;
    width: 30%;
}
#social_links img{
    clear: both;
    float: left;
    padding: 3.5px 15px;
}
#social_links p{
    padding: 6.2px 0px;
}

#copyright{
    clear: both;
    font-size: 0.8em;
    margin-bottom: 7px;
}
#bottom_footer #copyright p{
    float: left;
    padding-right: 5px;
    padding-bottom: 15px;
}
#bottom_footer #copyright nav ul{
    float: right;
}
#bottom_footer #copyright nav ul li{
    float: left;
    padding-right: 20px;
}
/* Image Format and center column*/
img{
    display: block;
    margin: auto;
}

#center_column header h1{
    text-align: center;
    color: rgb(34, 33, 33);
    font-size: 2em
}

/* Planet Profile */
#planet_profile, #glossary{
    clear: both;
    width: 100%;
}

#planet_profile header h1{
    text-decoration: underline;
    margin-top: 20px;
    text-align: center;
    color: rgb(34, 33, 33);
    font-size: 2em
}
#planet_profile figure{
    padding: 15px 15px;
    display: inline-block;
}
#planet_profile figure:hover{
    box-shadow: inset 0px 0px 0px 1.3px rgb(13, 45, 82);
}
#planet_profile article{
    width: 100%;
    margin: auto;
    text-align: center;
}
figcaption{
    padding-top: 5px;
}

/* Glossary */
#glossary header h1{
    text-decoration: underline;
    margin-top: 20px;
    text-align: center;
    color: rgb(34, 33, 33);
    font-size: 2em
}
#glossary figure{
    float: left;
    padding: 15px;
    display: table;
    box-shadow: inset 0px 0px 0px 1.8px rgb(0, 0, 0);
}
#glossary figure:hover{
    box-shadow: inset 0px 0px 0px 2.4px rgb(0, 0, 0);
}

#glossary figure figcaption{
    display: table-caption;
    caption-side: bottom;
}
#glossary{
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 20px 0px;
}
#glossary article{
    display: inline-block;
    margin: auto;
    text-align: justify;
}

/* For smaller screen size */
@media only screen and (max-width:600px){
    #left_column, #right_column, #center_column{
        width: 100%;
    } 
    #company, #donate, #social_links{
        clear: both;
        width: 100%;
    }   
}